<div id="contenedor_arriba_derecha" class="modal2x2"><div id="amiga" class="amiga modal2x1"><div class="img_transparent_amiga"></div><div class="menu_text_menu menu_font"><div class="status"></div></div></div
><div id="equipo" class="equipo modal1x1"><div id="equipo_text" class="menu_modal_text menu_font"><div class='boton_mod_der'></div><div class="status"></div></div></div
  ><div id="barrio" class="barrio modal1x1"><div id="barrio_text" class="menu_modal_text menu_font"><div class='boton_mod_izq'></div><div class="status"></div></div></div></div>
