<script>
  $("#registraNombre").on('click', registrarNombre);
</script>

<div class="modal_input">
  <p class='lead_text captura_bottom'>CONFIRMA TU NOMBRE PARA <br/> INGRESAR AL RETO.</p>
  <%= text_field_tag 'first-name-txt', current_user.first_name, placeholder: 'NOMBRE', :class=>'home_text_input' %><br/>
	<%= text_field_tag 'last-name-txt', current_user.last_name, placeholder: 'APELLIDO', :class=>'home_text_input' %><br/>
  <%= link_to '', '#', :id=>'registraNombre', :class=> 'btn_enviar' %></br>
</div>
