<div class="modal_input">
	<%= image_tag "escudo1.png", :class => "escudo" %><br/><br/>
	<%= text_field_tag 'team-name-txt', nil, placeholder: 'NOMBRE' %><br/>
	<%= tag ("div"), :class =>'btn_registrar cursor_pointer', :onClick => 'registrarEquipo()' %>
</div>