<div class="modal_input">
	<%= image_tag "escudo1.png" %>
	<%= text_field_tag 'first-name-txt', nil, placeholder: 'NOMBRE' %><br/>
	<%= text_field_tag 'last-name-txt', nil, placeholder: 'APELLIDO' %><br/>
	<%= button_tag 'Enviar', :onclick => "registrarNombre()" %>
</div>
