<div class="modal_input" id="hood-values" data-hoods="<%= @hoods.to_json(:only => [:id, :name]) %>">
	<%= image_tag "escudo1.png", :class => "escudo" %><br/><br/>
	<div class="ui-front">
		<%= text_field_tag 'hood-name-txt', nil, placeholder: 'BARRIO' %>
	</div>
	<%= tag ("div"), :class =>'btn_aceptar cursor_pointer', :onClick => 'registrarBarrio()' %>
</div>