<% content_for :head_script do %>
  <%= javascript_include_tag 'run_clubs'%>
<% end %>
<% content_for :head_style do %>
  <%= stylesheet_link_tag 'run_clubs'%>
<% end %>

<div id="contenedor">
  <div id="df" class="df s2x2"><div class='city_text'>D.F.</div></div
  ><div id="mty" class="mty s2x2"><div class='city_text'>MTY.</div></div
  ><div id="gdl" class="gdl s2x2"><div class='city_text'>GDL.</div></div
  ><div id="puebla" class="puebla s2x2"><div class='city_text'>PUEBLA.</div></div>
</div>
<div id="leyenda">PREPÁRATE MÁS Y MEJOR PARA ESTE <br/> AÑO UNIÉNDOTE AL RUN CLUB <br/> MÁS ADECUADO PARA TI.</div>

<div id="pleca_bottom"></div>
