<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @additional_badge.name %>
</p>


<%= link_to 'Edit', edit_additional_badge_path(@additional_badge) %> |
<%= link_to 'Back', additional_badges_path %>
