@font-face {
  font-family: 'FuturaStd-CondensedBold';
  src: url('FuturaStd-CondensedBold.eot');
  src: local('☺'), url('FuturaStd-CondensedBold.woff') format('woff'), url('FuturaStd-CondensedBold.ttf') format('truetype'), url('FuturaStd-CondensedBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-MediumCondensed';
  src: url('FuturaStd-MediumCondensed.eot');
  src: local('☺'), url('FuturaStd-MediumCondensed.woff') format('woff'), url('FuturaStd-MediumCondensed.ttf') format('truetype'), url('FuturaStd-MediumCondensed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-CondensedOblique';
  src: url('FuturaStd-CondensedOblique.eot');
  src: local('☺'), url('FuturaStd-CondensedOblique.woff') format('woff'), url('FuturaStd-CondensedOblique.ttf') format('truetype'), url('FuturaStd-CondensedOblique.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-CondensedBoldObl';
  src: url('FuturaStd-CondensedBoldObl.eot');
  src: local('☺'), url('FuturaStd-CondensedBoldObl.woff') format('woff'), url('FuturaStd-CondensedBoldObl.ttf') format('truetype'), url('FuturaStd-CondensedBoldObl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  text-shadow: 1px 1px 3px #555;
}

.centered{
  margin: auto;
  text-align: center;
}

/* Custom page header */
.header {
	margin: 0 auto;
  background-image: url('/assets/bg_header.png');
  height: 40px;
}

.headcontainer{
  max-width: 800px;
  margin:0 auto;
}

.nav {
  display: inline-block;
}

.nav-pills .homebutton:hover{
  background-image: url('/assets/swoosh.png') ;
  background-repeat: no-repeat; 
  width: 30px;
  height: 20px;
  background-size: 40px 15px;
}

.nav-pills li a.menubutton {
  font-family: 'FuturaStd-CondensedBold',Sans-Serif;
  color: black;
  border-right: 1px solid #BCBCBC;
  font-smoothing: antialiased;
  font-size: 12px;
	padding: 12px 20px 0;
  border-radius: 0px;
  height: 40px;
  text-shadow: none;
}
.nav-pills li a.menubutton:hover {
  color: #FF5A00;
  background: #F4F4F4; 
  height: 39px;
} 

.borderbutton {
  border-radius: 0px !important;
  border-right: 1px solid #BCBCBC;
  height: 40px; 
  width: 70px;
  padding: 20px auto auto;
  background-image: url('/assets/home.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

.borderbutton:hover {
  background-position: 10px -20px;  
}

.avatar {
  width: 13px;
  margin-right: 2px;
}

.perfilli {
}

.perfilli li{
  display: inline-block;
}

.perfilli a{
  text-decoration: none;
  color: black;
}

.subsesion{
  position: absolute;
  top: 40px;
  margin: 0 0 0 -8px;
  padding: 1px 0 4px 12px !important;
  width: 80px;
  color: black;
  background-color: #DCDCDC;
  display: none;
}

.subsesion:hover{
  background-color: #ACACAC;
}

#editar{
  display: none;
}

.editar{
  position: absolute;
  top: 40px;
  margin: 0 0 0 -90px;
  padding: 1px 0 4px 28px !important;
  width: 80px;
  color: black;
  background-color: #DCDCDC;
  display: none;
}

.editar:hover{
  background-color: #ACACAC;
}

.shares {
  float: right;
  height: 40px;
}

.shares li{
  font-family: 'FuturaStd-MediumCondensed',Sans-Serif;
  font-smoothing: antialiased;
  text-decoration: none;
  float: left;
  cursor: pointer;
  padding: 8px 0 0 12px;
  list-style-type: none;
  text-shadow: none;
}

.overflow_hidden{
  overflow: hidden;
}

/* for modal */
#modal-alert {
  display: none;
  overflow: auto;
}

#modal-content div {
}

#modal-content div a {
}

#simplemodal-overlay {
  background-color:#000;
}

.cursor_pointer {
  cursor: pointer;
}

.cursor_default {
  cursor: default;
}

.blue_gradient {
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(249,249,249,0.96) 8%, rgba(80,204,206,0.76) 49%, rgba(11,82,137,0.57) 87%, rgba(7,43,99,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(8%,rgba(249,249,249,0.96)), color-stop(49%,rgba(80,204,206,0.76)), color-stop(87%,rgba(11,82,137,0.57)), color-stop(100%,rgba(7,43,99,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(249,249,249,0.96) 8%,rgba(80,204,206,0.76) 49%,rgba(11,82,137,0.57) 87%,rgba(7,43,99,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(249,249,249,0.96) 8%,rgba(80,204,206,0.76) 49%,rgba(11,82,137,0.57) 87%,rgba(7,43,99,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(249,249,249,0.96) 8%,rgba(80,204,206,0.76) 49%,rgba(11,82,137,0.57) 87%,rgba(7,43,99,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(249,249,249,0.96) 8%,rgba(80,204,206,0.76) 49%,rgba(11,82,137,0.57) 87%,rgba(7,43,99,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#80072b63',GradientType=0 ); /* IE6-9 */ 
}

.blue_gradient:hover {
  background: rgb(249,249,249) !important; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 8%, rgba(80,204,206,1) 49%, rgba(11,82,137,1) 87%, rgba(11,82,137,1) 87%, rgba(7,43,99,1) 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(249,249,249,1)), color-stop(49%,rgba(80,204,206,1)), color-stop(87%,rgba(11,82,137,1)), color-stop(87%,rgba(11,82,137,1)), color-stop(100%,rgba(7,43,99,1))) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 8%,rgba(80,204,206,1) 49%,rgba(11,82,137,1) 87%,rgba(11,82,137,1) 87%,rgba(7,43,99,1) 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,249,249,1) 8%,rgba(80,204,206,1) 49%,rgba(11,82,137,1) 87%,rgba(11,82,137,1) 87%,rgba(7,43,99,1) 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 8%,rgba(80,204,206,1) 49%,rgba(11,82,137,1) 87%,rgba(11,82,137,1) 87%,rgba(7,43,99,1) 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 8%,rgba(80,204,206,1) 49%,rgba(11,82,137,1) 87%,rgba(11,82,137,1) 87%,rgba(7,43,99,1) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#072b63',GradientType=0 ) !important; /* IE6-9 */  
  color: black !important;
}

#simplemodal-container {height:412px; width:800px; padding: 0; margin: 0;}
#simplemodal-container .simplemodal-data {padding: 0; margin: 0;}
#simplemodal-container code {}
#simplemodal-container a {}
#simplemodal-container a.modalCloseImg {
  background:url("/assets/boton_cerrar.png") no-repeat; width:49px; height:50px; z-index:3200; position:absolute; top:0px; right:-48px; cursor:pointer; }
#simplemodal-container a.modalCloseImg:hover {
  background-position: 0 -68px;
}
#simplemodal-container h3 { margin: 0;}

.dialogueClass{display: none;}

.closeClass{display: inline;}

#sub_izq {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 412px;
}

.profile_izq {
  background:url("/assets/bg_gradient_perfil.png");
}

.equipo_izq {
  background:url("/assets/bg_gradient_equipo.jpg");
}

.barrio_izq {
  background:url("/assets/bg_gradient_barrio.jpg");
}

.amiga_izq {
  background:url("/assets/bg_amiga_izq.jpg");
}

.run_club_izq {
  background:url("/assets/bg_run_club.jpg");
}

.retos_izq {
  background:url("/assets/bg_retos_izq.jpg");
}

.responsive_bck {
  background-size: 400px 412px !important;
}

#sub_der {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 412px;
}

.profile_der{
  background:url("/assets/bg_popup_home.jpg");
}

.equipo_der{
  background:url("/assets/bg_popup_home.jpg");
}

.barrio_der{
  background:url("/assets/bg_popup_home.jpg");
}

.amiga_der {
  background:url("/assets/bg_amiga_der.jpg");
}

.run_club_der {
  background:url("/assets/bg_popup_home.jpg");
}

.retos_der {
  background:url("/assets/bg_retos_der.jpg");
}

.img_transparent{
  /*opacity: 0.6;*/
  width: 400px;
  height: 400px;
  display: block;
  margin: 1px auto auto auto;
}

.img_transparent_amiga{
  /*opacity: 0.6;*/
  width: 400px;
  height: 200px;
  display: block;
  margin: 1px auto auto auto;
}

.img_transparent_modal{
  /*opacity: 0.6;*/
  width: 400px;
  height: 410px;
  display: block;
  margin: 1px auto auto auto;
}

.pull_left{
  background:url("/assets/triangulo_izq.png");
  width: 18px;
  height: 25px;
  background-repeat:no-repeat;
  background-size: 18px 25px;
  margin:0 10px 0 -20px;
  display: inline-block;
  vertical-align: top;
}

.pull_right{
  background:url("/assets/triangulo_der.png");
  width: 18px;
  height: 25px;
  background-repeat:no-repeat;
  background-size: 18px 25px;
  margin:0 0 0 10px;
  display: inline-block;
}

.pagination{
  width: 100%;
  margin: 10px;
  text-align: center;
}

.disabled{
  display: none !important;
}

.mission_font{
  font-family: 'FuturaStd-CondensedBold', Sans-Serif;
  color: white;
  font-smoothing: antialiased;
  font-size: 26px;
  text-align: center;
  line-height: 1;
}

.mission_header{
  font-family: 'FuturaStd-CondensedBold', Sans-Serif;
  color: white;
  font-smoothing: antialiased;
  font-size: 40px;
  text-align: center;
  line-height: 1;
}

.mission_footer{
  font-family: 'FuturaStd-CondensedBold', Sans-Serif;
  color: white;
  font-smoothing: antialiased;
  font-size: 12px;
  text-align: center;
  line-height: 1;
}

.mission_margin {
  margin: 10% auto auto;
}

.mission_margin_footer {
  margin: 20% auto auto;
}

.modal_reto{
  height: 85%;
  margin: 8%;
}

@media screen and (max-width: 900px) {
  #simplemodal-container {
    height: 412px;
    width: 400px;
    margin: 200px auto auto;
  }
  
  #sub_izq {
    width: 200px;
    height: 206px;
  }

  #sub_der {
    width: 200px;
    height: 206px;
  }

  .responsive_bck {
    background-size: 200px 206px !important;
  }

  .img_transparent{
    width: 300px;
    height: 300px;
  }

  .img_transparent_modal{
    width: 200px;
    height: 206px;
  }

  .img_transparent_amiga{
    width: 300px;
    height: 150px;
  }

  .pagination{
    margin: 20px 0 0 0;
  }

  .nav-pills li a.menubutton {
	  padding: 12px 8px 0;
  }


  .borderbutton {
    width: 55px;
    background-position: 2px 8px;
  }

  .borderbutton:hover {
    background-position: 2px -20px;  
  }

  .mission_header{
    font-size: 20px !important;
  }

  .mission_font{
    font-size: 12px !important;
  }

  .mission_footer{
    font-size: 8px !important;
  }

  .mission_margin_footer {
    margin: 4% auto auto;
  }
}

@media screen and (max-width: 480px) {
  .shares{
    display: none;
  }

  .nav-pills > li + li > a {
    margin-left:0px;
  }

  .nav > li + .nav-header {
    margin-top: 9px;
  }
  
  #simplemodal-container {
    width: 200px;
    margin: 40px auto auto auto;
  } 
}
