#contenedor {
  margin: 30px auto auto;
  padding: 0;
  height: 600px;
  width: 800px;
}

.s4x2 {
  display: inline-block;
  height: 400px;
  position: relative;
  vertical-align: top;
  width: 800px;
}

.s2x2{
  display: inline-block;
  width: 400px;
  height: 400px;
  vertical-align: top;
  background-size: 400px 400px;
}

.s2x1{
  display: inline-block;
  width: 400px;
  height: 200px;
  vertical-align: top;
  background-size: 400px 200px;
}

.s1x1{
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: top;
  background-size: 200px 200px;
}

.perfil{
  background: url("/assets/bg_gradient_perfil.png");
  background-size: 100%;
}

.amiga{
  background:url("/assets/bg_escoger.png");
  background-size: 100%;
}

.equipo{
  background:url("/assets/bg_equipo.png");
}

.barrio{
  background:url("/assets/bg_barrio.png");
  background-size: 100%;
}

.ranking{
  background:url("/assets/bg_ranking_home.png");
}

.retos{
  background:url("/assets/bg_retos.png");
}

.run_clubs{
  background:url("/assets/bg_club.png");
}

.menu_font{
  font-family: 'FuturaStd-MediumCondensed', Sans-Serif;
  color: white;
  font-smoothing: antialiased;
  font-size: 35px;
  text-align: center;
  line-height: 1;
}

.menu_text {
  margin: -30% auto auto;
}

.menu_small_text {
  margin: 30% auto auto;
}

.menu_medium_text {
  margin: 15% auto auto;
}

.equipo_div {
  height: 100%;
  margin: auto;
  position: absolute;
  width: 100%;
}

#equipo_datos {
  height: 50%;
  margin: auto;
  text-align: center;
  width: 50%;
}

.modal_input {
  padding-top: 5%;
  text-align: center;
}

.lead_text {
  font-family:'FuturaStd-MediumCondensed',Sans-Serif;
  font-size: 20px;
  line-height: 1.2 !important;
  color: white;
  margin: 0px 0 20px;
}

.modal_text {
  font-family:'FuturaStd-MediumCondensed',Sans-Serif;
  font-size: 20px;
  line-height: 1.2 !important;
  color: white;
  margin: 30px 0 0;
  display: block;
}

.modal_text_no_margin {
  font-family:'FuturaStd-MediumCondensed',Sans-Serif;
  font-size: 20px;
  line-height: 1.2 !important;
  color: white;
  display: block;
}

.captura_bottom{
  margin-bottom: 0;
}

.home_text_input {
  width: 70%;
  margin: 10px auto auto;
}

.barrio_text_input {
  width: 70%;
  margin: 20px auto;
}

.escudo {
  height: 40%;
  width: 40%;
  display: inline;
}

.escudo_no_hide {
  height: 40%;
  width: 40%;
  display: inline;
}

.twitter_share {
  height: 40%;
  width: 40%;
  display: inline;
}

.invites-div {
  height: 100%;
  margin: auto;
  width: 80%;
}

.invite-detail {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.invite-image-container {
  height: 100%;
  position: relative; 
  width: 100%;
}

.invite-name-container {
  height:100%;
  position:absolute;
  width:100%;
}

.invite-name {
  display: none;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}


.btn_enviar {
  background-image: url('/assets/boton_enviar.png');
  width: 106px;
  height: 57px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
	display:inline-block;
  background-size: 100%;
  margin-top: 10px;
}

.btn_enviar:hover {
  text-decoration: none !important;
  background-position: 0 -64px;
}

.btn_aceptar {
  background-image: url('/assets/boton_aceptar.png');
  width: 106px;
  height: 57px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
  display:inline-block;
  background-size: 100%;
}

.btn_aceptar:hover {
  text-decoration: none !important;
  background-position: 0 -60px;
}

.btn_registrar {
  background-image: url('/assets/boton_registrar.png');
  width: 106px;
  height: 57px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
  display:inline-block;
  background-size: 100%;
  margin-top: 10px;
}

.btn_registrar:hover {
  text-decoration: none !important;
  background-position: 0 -64px;
}

.btn_cancelar_invitacion {
  background-image: url('/assets/boton_cancelar_invitacion.png');
  width: 161px;
  height: 55px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
  display:inline-block;
  background-size: 100%;
}

.btn_cancelar_invitacion:hover {
  text-decoration: none !important;
  background-position: 0 -64px;
}

.btn_cancelar {
  background-image: url('/assets/boton_cancelar.png');
  width: 106px;
  height: 55px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
  display:inline-block;
  background-size: 100%;
}

.btn_cancelar:hover {
  text-decoration: none !important;
  background-position: 0 -62px;
}

.img_modal_amiga {
  width: 40%;
  height: 40%;
}

@media screen and (max-width: 900px) {
  #contenedor {
    margin: 30px auto auto;
    padding: 0;
    height: 600px;
    width: 300px;
  } 

  .s2x2{
    display: inline-block;
    width: 300px;
    height: 300px;
    vertical-align: top;
    background-size: 300px 300px;
  }

  .s2x1{
    display: inline-block;
    width: 300px;
    height: 150px;
    vertical-align: top;
    background-size: 300px 150px;
  }

  .s1x1{
    display: inline-block;
    width: 150px;
    height: 150px;
    vertical-align: top;
    background-size: 150px 150px;
  }

  .modal_input {
    padding-top: 5%;
  }

  .escudo {
    display: none;
  }

  .lead_text {
    font-family:'FuturaStd-MediumCondensed',Sans-Serif;
    font-size: 15px;
    line-height: 1 !important;
    color: white;
    margin: 0px 0 5px;
  }

  .home_text_input {
    width: 70%;
    margin: 5px auto auto;
  }

  .barrio_text_input {
    width: 70%;
    margin: 5px auto;
  }

  .btn_enviar{
    background-image: url('/assets/boton_enviar.png');
    width: 106px;
    height: 57px;
    letter-spacing: 82px;
    background-repeat: no-repeat;
    padding: 4px;
	  display:inline-block;
    background-size: 100%;
    margin-top: 15px;
  }

  .btn_enviar:hover{
    text-decoration: none !important;
    background-position: 0 -64px;
  }

  .menu_font{
    font-family: 'FuturaStd-MediumCondensed', Sans-Serif;
    color: white;
    font-smoothing: antialiased;
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }

  .menu_small_text {
    margin: 40% auto auto;
  }

  .modal_text {
    display: none;
  }

  .twitter_share {
    display: none;
  }

  .modal_text_no_margin {
    font-family:'FuturaStd-MediumCondensed',Sans-Serif;
    font-size: 12px;
    line-height: 1 !important;
    color: white;
    display: block;
  }

}
