// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}

.background_juntas {
    background-image: url('/assets/bg_home.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.container {
  width: 100%;
  min-height: 940px;
}

.rotated_title {
  font-family:'FuturaStd-CondensedOblique',Sans-Serif;
  font-size: 50px !important;
  line-height: 1;
  color: white !important;
  line-height: 0.5;
}

.lead {
  line-height: 0.6 !important;
  color: white;
  font-family: 'FuturaStd-CondensedOblique',Sans-Serif;
  text-transform: uppercase;
  font-smoothing: antialiased;
  font-size: 25px;
}

.lead_text {
  font-family:'FuturaStd-MediumCondensed',Sans-Serif;
  font-size: 20px;
  line-height: 1.2 !important;
  color: white;
  margin: 0px 0 20px;
}

.centered {
  text-align: center;
}

.jumbotron {
  padding: 20px !important;
}

.logo_home {
  height: 250px;
  margin: -10px 0;
}

.btn-nike{
  background-image: url('/assets/boton_nike_home.png');
  width: 182px;
  height: 41px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
	display:inline-block;
  background-size: 100%;
  margin: 0px 0 -5px;
}
.btn-nike:hover{
  text-decoration: none !important;
  background-position: 0 -41px;  
}

.btn-facebook{
  background-image: url('/assets/boton_facebook_home.png');
  width: 182px;
  height: 41px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
	display:inline-block;
  background-size: 100%;  
  margin-top: 25px 0;
}

.btn-facebook:hover{
  text-decoration: none !important;
  background-position: 0 -41px;
}

#solo_mujeres_container {
  width: 472px;
  height: 488px;
  background: url('/assets/bg_popup_home.png');
  padding-top: 65%;
  text-align: center;
}

#simplemodal-container {height:472px; width:488px; padding: 0; margin: 0;}
#simplemodal-container a.modalCloseImg {
  background:url("/assets/boton_cerrar.png") no-repeat; width:49px; height:50px; z-index:3200; position:absolute; top:0px; right:-32px; cursor:pointer; }
#simplemodal-container a.modalCloseImg:hover {
  background-position: 0 -68px;
}

.btn-descargar{
  background-image: url('/assets/boton_descargar.png');
  width: 110px;
  height: 69px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
	display:inline-block;
  background-size: 100%;
}
.btn-descargar:hover{
  text-decoration: none !important;
  background-position: 0 -64px;
}

.terms{
  width: 800px;
  color: black;
  background-color: white;
  font-size: 12px;
  height: 450px;
}

@media screen and (max-width: 900px) {
  #simplemodal-container {
    height:242px;
    width:250px;
    margin: auto;
  }

  #solo_mujeres_container {
    width: 242px;
    height: 250px;
    background: url('/assets/bg_popup_home.png');
    background-size: 242px 250px;
    padding-top: 55%;
    text-align: center;
  }

  .btn-descargar{
    background-image: url('/assets/boton_descargar.png');
    width: 80px;
    height: 46px;
    background-repeat: no-repeat;
    padding: 4px;
  	display:inline-block;
    background-size: 100%;
  }
  .btn-descargar:hover{
    text-decoration: none !important;
    background-position: 0 -47px;  
  }

  .lead_text {
    font-family:'FuturaStd-MediumCondensed',Sans-Serif;
    font-size: 15px;
    line-height: 1 !important;
    color: white;
    margin: 0px 0 20px;
  }

  #simplemodal-container a.modalCloseImg {
    background:url("/assets/boton_cerrar.png") no-repeat; width:40px; height:41px; z-index:3200; position:absolute; top:0px; right:-31px; cursor:pointer; background-size: 100%;}
  #simplemodal-container a.modalCloseImg:hover {
    background-position: 0 -55px;
  }
  
  .terms{
    width: 80%;
  }

}
