<!DOCTYPE html>
<html lang="es">
<head>
  <title>Nosotras Corremos - Admin</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
